* {
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-columns:  repeat(4, 300px);
    margin: 20px 50px;
}
.titulo-footer {
    margin: 25px 70px;
}
.title{
    flex-direction: row;
    /* width: 500px; */
}
.targeta{
    max-width: 3000px;
    margin: 0 20px;
}
h4 , p {
    margin: 6px 0;
}
img{
    width: 100%;
}
.targeta:hover{
    border: 1px solid black;
}