* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  /* border: 1px solid blue; */

  font-family: "Open Sans", sans-serif;
}

.contenedor1 {
  background: black;
  display: flex;
  padding: 8px;
  justify-content: space-between;
}

.contenedor1 p {
  color: white;
  flex-grow: 1;
  text-align: center;
  font-size: 11px;
  cursor: pointer;
}

.logo_adidas  {
       max-width: 12vw;
}

