*{
    /* border: 1px solid red; */
    padding: 0px;
    margin: 0px;

}

/* ######## Primera parte MAIN2 ####### */
.contenedor_imagenes{
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor{
    width: 200px;
    padding: 0px 10px;
}

.contenedor:hover{
    border: 1px solid black;
    transform: scale(1.1); 
}

.imagen{
    width: 100%;   
}

.precio{
    background-color: #eee;
    color: black;
}

.detalles{
    color: black;
}

.modelo{
    font-size: 12px;
}

.tipo{
    font-size: 10px;
    color: gray;
}


/* ###### Segunda parte Main2 ####### */
.contenedor2{
    width: 300px;
    padding: 0px 10px;
}

.imagen2{
    width: 100%;   
}

.subtitulo{
    background-color: #eee;
    color: black;
}

.detalles2{
    color: black;
}

.descripcion{
    font-size: 12px;
}

.opcion{
    font-size: 10px;
    color: gray;
}

.video video{
    width: 100%;
}

h4{
    margin-top: 100px;
    margin-bottom: 30px;
    font-family: "AdineuePRO",Helvetica, Arial, sans-serif;
    font-style: normal;
    font-size: 40px;
}

/* ##### Parte 3 del main 2 ####### */
.contenedor3{
    width: 500px;
    padding: 0px 10px;
}

.imagen3{
    width: 100%;   
}

.link_3{
    width: 300px;
    /* height: 50px; */
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

/* ######## PARTE 4 DEL MAIN 2 ######## */
.contenedor4{
    width: 100vw;
    padding: 0px 10px;
    position: relative;
    text-align: center;
    color: white;
}

.imagen4{
    width: 100%;   
}

.mensaje4{
    position: absolute;
    z-index: 20; 
    left:25%;
    top:25%;
    width: 50%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif
}

.link_4{
    width: 300px;
    background-color: black;
    border: 1px solid white;
    color: white;
    text-align: center;
    font-size: 20px;    
    padding: 20px;
    margin: auto;
}
